USE [master]
GO
/****** Object:  Database [Hotel_Management_System]    Script Date: 6/13/2022 11:53:47 PM ******/
CREATE DATABASE [Hotel_Management_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel_Management_System', FILENAME = N'F:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hotel_Management_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_Management_System_log', FILENAME = N'F:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hotel_Management_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel_Management_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel_Management_System]
GO
/****** Object:  Table [dbo].[Client_Table]    Script Date: 6/13/2022 11:53:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_Table](
	[Client_ID] [int] IDENTITY(1,1) NOT NULL,
	[Client_FirstName] [varchar](150) NOT NULL,
	[Client_LastName] [varchar](150) NOT NULL,
	[Client_Phone] [varchar](15) NOT NULL,
	[Client_Address] [varchar](150) NOT NULL,
 CONSTRAINT [User_Table_Client_ID_PK] PRIMARY KEY CLUSTERED 
(
	[Client_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation_Table]    Script Date: 6/13/2022 11:53:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation_Table](
	[Reservation_ID] [int] IDENTITY(1,1) NOT NULL,
	[Reservation_Room_Type] [varchar](6) NOT NULL,
	[Reservation_Room_Number] [int] NOT NULL,
	[Reservation_Client_ID] [int] NOT NULL,
	[Reservation_In] [varchar](32) NOT NULL,
	[Reservation_Out] [varchar](32) NOT NULL,
 CONSTRAINT [Reservation_Table_Reservation_ID_PK] PRIMARY KEY CLUSTERED 
(
	[Reservation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Reservation_Client_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Table]    Script Date: 6/13/2022 11:53:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Table](
	[Room_Number] [int] IDENTITY(1,1) NOT NULL,
	[Room_Type] [varchar](6) NOT NULL,
	[Room_Phone] [varchar](15) NOT NULL,
	[Room_Free] [varchar](3) NOT NULL,
 CONSTRAINT [Room_Table_Room_Number_PK] PRIMARY KEY CLUSTERED 
(
	[Room_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Room_Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Table]    Script Date: 6/13/2022 11:53:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Table](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [varchar](150) NOT NULL,
	[User_Password] [varchar](150) NOT NULL,
 CONSTRAINT [User_Table_User_ID_PK] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[User_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
